@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a{
  color: #3d1b1bc4;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e66465, #9198e5);
}

.container {
  width: 300px;
  height: 500px;
  padding: 20px 0 0 0;
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 15px;
}

header {
  padding: 0 20px 5px 20px;
  display: flex;
  align-items: center;
}

header i {
  color: #3d1b1bc4;
  font-size: 20px;
  width: 38%;
}

header span {
  color: #3d1b1bc4;
  font-weight: 700;
  font-size: 20px;
}

.playing {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.548);
}

.playing__metadata {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.playing__img {
  height: 100px;
  width: 100px;
  background-color: #dd676746;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing__info {
  margin-left: 15px;
}

.playing__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.playing__author {
  font-size: 16px;
}

.plaing__button-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  color: rgba(48, 22, 23, 0.678);
}

.plaing__button-play {
  padding: 5px 15px;
  border: 1px solid rgba(119, 98, 99, 0.363);
  border-bottom-width: 3px;
  border-radius: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.plaing__button-play i {
  font-size: 12px;
  margin-right: 5px;
}

.plaing__button-heart {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(73, 34, 36, 0.363);
  border-bottom-width: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.plaing__button-plus {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(73, 34, 36, 0.363);
  border-bottom-width: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.play-list {
  list-style: none;
  padding: 10px 20px;
}

.play-list__item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.play-list__img {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #9198e56e;
  margin-right: 10px;
}

.play-list__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.play-list__author {
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.527);
}